* {
  box-sizing: border-box;
}

.header {
  text-align: center;
  padding: 20px;
  background: url("futuristic2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1.head {
  color: white;
  font-size: 50px
  width: auto;
  padding: 5px;
  margin: auto;
  margin-left: 20px;
}


/* For making the Navigation Bar fixed */
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  position: sticky;
  top: 0;
}

/* Keeping all the elements to left and border for elements */
li.headerl{
  display: block;
  float: left;
  border-right: 1px solid #bbb;
  position: sticky;
  top: 0;
}

/* Right aligning About */
li:last-child {
  border-right: none
}

/* Adding the block for the elements */
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.int{
  color: DodgerBlue;
  font-size: 20px;
  text-align:left;
  text-decoration: none;
  line-height: 1.8;
}
/* Changing the colour when hovering */
li a:hover {
  background-color: #111;
  color: white;
}

/* Changing the colour for active Page */
.dactive {
  background-color: #555555;
}

.active {
  background-color: #4CAF50;
}

/* Create three unequal columns that floats next to each other */
.column {
  background-color: #ddd;
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 20%;
}

/* Middle column */
.column.middle {
  width: 75%;
}

/* Last Column*/
.column.last {
  width: 5%;
}

.lindex{
  text-decoration: none;
  font-size: 20px;
  color: #2196F3;
  display: block;
  position: sticky;
  top: 46px;
}

.cardl {
  background-color: white;
  padding: 20px;
  margin-top: 15px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 15px;
}

/* Clear floats after the columns */
.row:after {
  background-color: white;
  content: "";
  display: table;
  clear: both;
}

.mainresize{
  width: 45%;
  display: block;
  margin-left: 100px;
  margin-right: auto;
}

.nav{
  position: sticky;
  top: 0;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
  .footer{
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .nav a {
    float: none;
    width: 100%;
  }
}

.footer {
  padding: 12px;
  text-align: center;
  background: #4CAF50;
  margin-top: 15px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  position: sticky;
  left:250px
  bottom: 0
}

footer {

}
/*you guys add your photos in the respective id !!!!(img tag provided in html)*/
i-1,i-2,i-3 {
    padding-left: 20px;
    margin-left: 100px;
    padding-right: 20px;
    margin-top: 50px;
}

i-1,i-2,i-3{
  margin-left: auto;
  margin-right: auto;
}
}

/* social icons*/
.social{
  text-align: center;
  justify-content: center;
  color:black;
}
